#container{
    margin-top: 30px;
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.row{
    display:flex;
    flex:auto;
    justify-content: center;
    align-items: center;
    height:6.25%;
    width:100%;
}

.rowElement{
    border:1px solid black;
    height: 3vw;
    width: 3.25%;
}

#newBoard{
    width:200px;
    height:75px;
}

#buttonContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}